
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Nav styles */

.nav-brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.nav-brand-title{
    display: flex;
    gap: 11px;
    align-items: center;
}

.nav-hading{
    display: block;
    font-size: 32px;
    font-weight: bold;
    color: black;
}
.nav-links{
    display: block;
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-link-1{
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-size: 20px;
}

.nav-link-2{
    text-decoration: none;
    color: skyblue;
    font-weight: 600;
    font-size: 20px;
}

.nav-link-3{
    text-decoration: none;
    color: #05D4DF;
    font-weight: 600;
    font-size: 20px;
}

.nav-link-4{
    text-decoration: none;
    color: #5D58EF;
    font-weight: 600;
    font-size: 20px;
}

.nav-btn{
    display: block;
    background-color: orange;
    color: #FFFFFF;
    padding: 10px 60.5px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.btn{
    display: none;
}
/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1158.61px;
}

.banner-title{
    max-width: 640px;
    margin: 108px 0px 136px 0px;
}

.banner-heading{
    font-size: 56px;
    font-weight: bold;

}

.span-1{
    color: orange;
}

.span-2{
    color: skyblue;
}

.banner-description{
    font-size: 20px;
    font-weight: 400;
}

.banner-btn{
    background-color: black;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;

}

.banner-image{

}

/* Main parts styles */
.feachers{
    background-image: url('../assets/bg.png');
    max-width: 1158.61px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    
}

.feacher-title{
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}

.card{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28.29px;
}

.card-h{
    font-size: 24.52px;
    font-weight: bold;
    color: #202020;

}

.card-d{
    font-size: 15.09px;
    font-weight: 600;

}

.card-img{
    padding: 52px 115px;
}

.card-1{
    background: radial-gradient(ellipse at top, #53eb85, #FFFFFF);
    border: 1px solid orchid;
    border-radius: 18.86px;
    

}

.card-2{
    background: radial-gradient(ellipse at top, #abe427, #FFFFFF);
    border: 1px solid orange;
    border-radius: 18.86px;

}

.card-3{
    background: radial-gradient(ellipse at top, #0e82b4, #FFFFFF);
    border: 1px solid orangered;
    border-radius: 18.86px;
}

.card-sh-1{
    color: #64C8FF;
    font-size: 15.09px;
    font-weight: bold;
}

.card-sh-2{
    color: #F0AA00;
    font-size: 15.09px;
    font-weight: bold;
}

.card-sh-3{
    color: #8700FF;
    font-size: 15.09px;
    font-weight: bold;
}

.circle-both{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.circle{
    background-color: orange;
    border-radius: 60px;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    margin: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 30px 20px 10px 20px;
}

/* section 2 styles */

.section-2{
    background-image: url(../assets/bg.png);
    background: radial-gradient(ellipse at bottom, #FEA301, #FFFFFF);
}

.sec-2{
    max-width: 1158.61px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    

}


.sec-2-head{
    font-size: 46px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 80px;
}

.sec-2-img{
    border-radius: 16px;
    border: 1px solid olive;

}

.image-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18.73px;
}


.s-2-image{

    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#image-1{
    grid-row: span 2;

}
.dh-1{
    font-size: 24px;
    font-weight: bold;
}

.sec-2-des{
    font-size: 15.34px;
    font-weight: 600;
}

#sec-2-btn{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: black;
    border-radius: 12px;
    padding: 10px 61px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.b-1{
    background-color: #3CD8E8;
    font-size: 15.32px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 45px;
    border: none;
    padding: 10px 20px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.b-2{
    background-color: #2bd170;
    font-size: 15.32px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 45px;
    border: none;
    padding: 10px 20px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.b-3{
    background-color: #a2cef1;
    font-size: 15.32px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 45px;
    border: none;
    padding: 10px 20px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.b-4{
    background-color: #3CD8E8;
    font-size: 15.32px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 45px;
    border: none;
    padding: 10px 20px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.b-5{
    background-color: #1adb14;
    font-size: 15.32px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 45px;
    border: none;
    padding: 10px 20px;
    margin-top: -30px;
    margin-bottom: -30px;
}
/* footer styles */

.footer-1{
    background-color: #01ACFD;
    width: 100%;
}

.footer-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 140px;
    padding-top: 140px;
}

.f-des{
    font-size: 20px;
    font-weight: 400;

}

.footer-heading-left{
    font-size: 42.14px;
    font-weight: bold;
    color: #FFFFFF;

}
.footer-m{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.list{
    list-style: none;
    margin-bottom: 10px;
}
.list-li{
    margin-bottom: 20px;
}
.hyper{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 10px

}

/* Responsive styles */
@media screen and (max-width: 576px) {


    /* navbar relater */
    .nav-hading{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }

    .btn{
        display: block;
    }

    .banner{
        flex-direction: column-reverse;
    }

    .card{
        grid-template-columns: 1fr;
        gap: 10px;

    }

    .image-grid{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .footer-div{
        flex-direction: column;
    }


}
